:root 
{
    --system-ui: system-ui, "Roboto", sans-serif, Helvetica, Arial, sans-serif, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body
{
    margin: 0;
    padding: 0;
    font-family: var(--system-ui);
}

.global-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    width: 100vw;
    min-height: 100vh;
    grid-template-areas: "home the_menu contact_us"
                         "info-section info-section info-section"
}

.nav-container
{
    grid-area: 1 / 1 / 1 / 4;
    display: flex;
}

.home, .the_menu, .contact_us
{
    background-color: tan;
    width: 33.333%;
    cursor: pointer;
    border: 2px solid black;
    font-size: min(calc(1rem + 2vh), 8vh);
}

.home:hover, .the_menu:hover, .contact_us:hover
{
    background-color: rgb(165, 137, 103);
    transition: 0.25s;
}

.home
{
    grid-area: home;
}

.the_menu
{
    grid-area: the_menu;
}

.contact_us
{
    grid-area: contact_us;
}

#info-section
{
    grid-area: info-section;
}

.home-grid
{
    display: grid;
    grid-area: 2 / 1 / 3 / 4;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    grid-template-areas: "restaurant_logo welcome_sign"
                         "... restaurant_name";
}

.menu-grid
{
    display: grid;
    grid-area: 2 / 1 / 3 / 4;
    grid-template-areas: "... ...";
}

.contact-grid
{
    display: grid;
    grid-area: 2 / 1 / 3 / 4;
    grid-template-areas: "send_message contact_info";
}

.menu_item
{
    display: grid;
    background-color: #FFFFF0;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "item_description item_image";
}

.restaurant_logo
{
    background-image: url("/imgs/logo.png");
    background-repeat: no-repeat;
    height: auto;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    transform: scaleX(100%);
    zoom: 50%;

}

.welcome_sign
{
    background-color: #964B00;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    font-style: italic;
}

.restaurant_name
{
    background-color: rgb(243, 89, 0);
    font-size: 2.5rem;
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-style: italic;
}

.item_description
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 36ch;
    margin-left: 1.5em;
    color: red;
    font-size: 1rem;
}

img.item_image:nth-child(1)
{
    background-image: url("/imgs/mango_pie.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    zoom: 9%;
}
img.item_image:nth-child(2)
{
    background-image: url("/imgs/mango_pie.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    zoom: 9%;
}
img.item_image:nth-child(3)
{
    background-image: url("/imgs/mango_pie.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    zoom: 9%;
}
img.item_image:nth-child(4)
{
    background-image: url("/imgs/mango_pie.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    zoom: 9%;
}

.send_message-container
{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    grid-area: -1 / 1 / 1 / 2;
    width: 80%;
    height: 80%;
    background-color: tan;
    border: 10px solid rgba(165, 48, 1, 0.582);
    border-radius: 10px;
}

.send_message-title
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-weight: bolder;
    font-style: italic;
    position: relative;
    bottom: 2em;
    font-size: 1.5rem;
    color:rgba(59, 17, 0, 0.582);
}

.send_message-form
{
    position: relative;
    top: 1em;
    justify-self: center;
}

button.submit
{
    display: flex;
    width: 75%;
    height: 3vw;
    justify-self: center;
    justify-content: center;
    align-content: center;
}

.contact_info-container
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-area: -1 / 2 / 1 / 3;
    justify-self: center;
    align-self: center;
    position: relative;
    bottom: 4.25em;
    width: 75%;
    height: 50%;
    background-color: tan;
    border: 10px solid rgba(165, 48, 1, 0.582);
    border-radius: 10px;
}

.toll-free-text
{
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: italic;
    color:rgba(59, 17, 0, 0.582);
}

.toll-free-number
{
    display: flex;
    grid-area: 2 / 1 / 3 / 2;
    justify-content: center;
    font-size: 1.5rem;
    color:rgba(59, 17, 0, 0.582);
    font-weight: bold;
}