:root 
{
    --system-ui: system-ui, "Roboto", sans-serif, Helvetica, Arial, sans-serif, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body
{
    margin: 0;
    padding: 0;
    font-family: var(--system-ui);
}

.global_container
{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "task-list-area add-task-area"
                         "task-list-area motivation-area";
    width: 100vw;
    height: 100vh;
}

.task_list_container
{
    grid-area: task-list-area;
    background-color: #ADD8E6;
}

.add_task_container
{
    grid-area: add-task-area;
    background-color: #c4a484;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_task_fillout
{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "add_task_title"
                         "task_name"
                         "task_due_date"
                         "task_priority"
                         "add_task_button";
    width: 90%;
    height: 90%;
    border-color: #231709;
    background-color: #d4c0ad;
    border-radius: 25px;
    border: 5px solid #231709;
}

h2.add_task_title
{
    grid-area: add_task_title;
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    justify-self: center;
    align-self: center;
}

.task_name_section
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "task_name_label task_name_input";
    grid-template-rows: 1fr;
}

label.task_name_label
{
    grid-area: task_name_label;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.task_name_input
{
    grid-area: task_name_input;
}

button.add_task_button
{
    grid-area: add_task_button;
    display: flex;
    font-weight: bold;
    font-size: medium;
    justify-self: flex-end;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 25%;
    height: 50%;
    background-color: #5bb3d1;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    margin-right: 1em;
}

.motivational_message
{
    display: flex;
    grid-area: motivation-area;
    background-color: lightyellow;
    border-left: 2px solid black;
    justify-content: center;
    align-items: center;
}